.jumbotron{
    background-image: url("../img/pizza.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron h1{
    background: rgba(255,255,255, 0.7);
    text-align: center;
    width: 100%;
    padding: 0.2em 0;
}

