*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

/*Section to create background and width to the whole screen, also makes navigation
position relative to be able to set logo to absolute position*/
nav{
    background: #C1C1C1;
    position: relative;
    width: 100%;
}

ul{
    list-style: none;
    padding: 1.2em;
    margin: 0;
    width: 100%;
    /*This creates a flex on the list to align items*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    padding:0 1em;
}

nav a:hover{
    text-decoration: none;
    color: blue;
}

/*Section for the Logo to be centered in an absolute position*/
ul li:nth-child(5){
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    padding: .2em 0;
    position: absolute;
    top:-25%;
    left:40%;
    right: 40%;
}

/*Section to push first 4 elements to the left*/
ul li:nth-child(4){
    margin-right: auto;
}

/*Section to push last 4 elements to the right*/
ul li:nth-child(6){
    margin-left:auto;
}

