/* Sets for large devices*/
@media screen and (min-width: 993px){
    #container{
        width: 90vw;
        margin: auto;
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 45px 1fr 118px;
    }

    header{
        grid-column-start: 1;
        grid-column-end: 3;

    }

    .extra-menu{
        opacity: 0;
    }

    .rem-menu{
        opacity: 1;
    }

    /*Code for Side Bar*/
    #side-menu{
        grid-area: 2 / 1 / -1 / 2;
        background-color: #F0F0F0;
    }

    main{
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: -1;
        display: grid;
        grid-template: 1fr 1fr 1fr 0.2fr/ 1fr;
        grid-row-gap: 6em;
    }

    #content1{
        grid-area: 1 / 1 / 2 / 2;
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    #content2{
        grid-area: 2 / 1 / 3 / 2;
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    #content3{
        grid-area: 3 / 1 / 4 / 2;
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    #page-selector{
        grid-area: 4 / 1 / 5 / 2;
    }

    footer{
        grid-area: -2 / 2 / -1 / 4;
    }

    #top-footer{
        flex-grow: 1;
    }
}

/*Sets for tablet mode*/
@media screen and (min-width: 601px) and (max-width: 992px){
    #container{
        display: grid;
        grid-template: 45px 1fr 118px / 1fr 0.1fr;
    }

    header{
        grid-area: 1 / 1 / 2 / 3;
    }

    .rem-menu{
        opacity: 1;
    }

    .extra-menu{
        opacity: 1;
    }

    main{
        grid-area: 2 / 1 / 3 / 3;
        display: grid;
        grid-template: 1fr 1fr 1fr 0.2fr/ 1fr;
        grid-row-gap: 6em;
    }

    #content1{
        grid-area: 1 / 1 / 2 / 2;
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    #content2{
        grid-area: 2 / 1 / 3 / 2;
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    #content3{
        grid-area: 3 / 1 / 4 / 2;
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    footer{
        grid-area: 3 / 1 / 4 / -1;
    }

    #side-menu{
        grid-area: 2 / 1 / 3 / 3;
        background-color: #F0F0F0;
        width: 30%;
        /*z-index: 1;*/
    }
}

/*Sets for mobile mode*/
@media screen and (max-width: 600px){
    .rem-menu{
        opacity: 0;
        padding: 0;
        margin: 0;
    }

    .extra-menu{
        opacity: 1;
    }

    #container{
        display: grid;
        grid-template: 45px 1fr 118px / 1fr;
        width: 80vw;
    }

    header{
        grid-area: 1 / 1 / 2 / 2;
    }

    main{
        grid-area: 2 / 1 / 3 / 2;
        display: grid;
        grid-template: 1fr 1fr 1fr 0.2fr / 1fr;
        grid-row-gap: 6em;
    }

    footer{
        grid-area: 3 / 1 / 4 / 2;
    }

    #side-menu{
        grid-area: 2 / 1 / 3 / 2;
        background-color: #F0F0F0;
        width: 30%;
        /*z-index: 1;*/
    }
}

body{
    background-color: #0fb784;
}

#container{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #111111;
    margin: 0;
}

#top-navigation{
    padding-inline-start: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

#top-navigation li a{
    display: block;
    color: #FAF3F6;
    text-decoration: none;
    padding:0.8em 1em;
}

#top-navigation li a:hover{
    background-color: #FFFFFF;
    padding:0.8em 1em;
    color: black;
}

#top-navigation li:nth-child(8){
    margin-left: auto;
}

.logo{
    display: block;
    background-color: #333333;
    padding:0.8em 1em;
}
#side-menu ul{
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

#side-menu ul li:nth-child(1){
    padding: 1.2em;
}

#side-menu ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 1.2em;
}

#side-menu ul li a:hover{
    text-decoration: none;
    color: black;
    margin-inline: 0;
    background-color: #848487;
}

main{
    background-color: #FFFFFF;;
}

#content1{
    margin-top: 2em;
}

.ad{
    border: 1px solid black;
    margin-bottom: 1em;
    /*width: 70%;
    height: 20%;*/
    width: 204px;
    height: 53px;
}

.ad2{
    border:1px solid black;
    /*width: 70%;
    height: 60%;*/
    width: 204px;
    height: 154px;
}

.ad, .ad2{
    display: flex;
    align-items: center;
    justify-content: center;
}

#ad-section1, #ad-section2, #ad-section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragraph{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1em;
}

.paragraph h1{
    color: #0fb784;
}

#page-selector{
    margin-bottom: 2em;
}

#page-selector ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
    padding: 0;
}

#page-selector ul li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5em;
    margin-inline: 0;
}

#page-selector ul li a:hover{
    padding: 0.5em;
    margin-inline: 0;
    text-decoration: none;
    display: block;
    color: white;
    background-color: black;
}

#page-selector ul li:nth-child(1){
    padding: 0.5em;
}

.selected{
    background-color: black;
    color: white;
}

footer{
    background-color: #3B94D9;
    display: flex;
    flex-direction: column;
}

#top-footer{
    background-color: #666666;
    color: white;
    margin:0;
    padding: 2em 0.5em;
}

#bottom-footer{
    background-color: #313131;
    color: white;
    margin: 0;
    padding: 0.5em;
}